
@{
    ViewData["Title"] = "InstructorProfile";
}
@using ITI.ExamSystem.DTOs.InstructorsDTO
@model InstructorProfileDto
@section Styles {
    <link rel="stylesheet" href="~/css/InstructorProfile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div class="content-container">
    <div class="welcome-section">
        <div class="container emp-profile">
            <form method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="~/images/@(!string.IsNullOrEmpty(Model.ProfileImagePath) ? Model.ProfileImagePath : "/defult.jpg")" alt="Profile Image" />

                        </div>
                        <div class="file img">
                            <input type="hidden" name="studentId" value="@Model.UserID" />

                            <div class="input-group" width="200">

                                <input type="file" name="img" id="file" class="form-control" width="200" />
                            </div>


                            <div class="d-grid gap-2 mt-3" width="200">
                                <button type="submit" class="btn btn-success">📤 Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h3>
                                @Model.FullName
                            </h3>
                            <h5 style="color:#7B61FF">
                                Instructor
                            </h5>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content profile-tab pt-5 ps-5" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="width:400px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> <i class="fa-solid fa-user" style="color: #B197FC;"></i>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.FullName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa-solid fa-envelope" style="color: #B197FC;"></i>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Email</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa-solid fa-calendar-check" style="color: #B197FC;"></i>JoinDate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.RegistrationDate</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa-solid fa-user-graduate" style="color: #B197FC;"></i>StudentCount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.StudentCount Students</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa-solid fa-book" style="color: #B197FC;"></i>CourseCount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.CourseCount Courses</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> <i class="fa-solid fa-laptop-code" style="color: #B197FC;"></i>Track</label>
                                    </div>
                                    <div class="col-md-6">
                                        @foreach (var item in @Model.Track)
                                        {
                                            <p>@item.TrackName</p>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa-solid fa-building" style="color: #B197FC;"></i>Branch</label>
                                    </div>
                                    <div class="col-md-6">
                                        @foreach (var item in @Model.Branch)
                                        {
                                            <p>@item.BranchName</p>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> <i class="fa-solid fa-file-signature" style="color: #B197FC;"></i>Intake</label>
                                    </div>
                                    <div class="col-md-6">
                                        @foreach (var item in @Model.Intake)
                                        {
                                            <p>@item.IntakeName</p>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa-solid fa-book" style="color: #B197FC;"></i>ExamCount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.ExamCount Exams</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><i class="fa-solid fa-book" style="color: #B197FC;"></i>PublishExamCount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.PublishedExamCount Exams</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

