@model eF_Kres.ModelViews.RegisterViewModel

@{
    ViewData["Title"] = "Create Account";
	// Layout = null;
}

<h2>Create Account</h2>

<partial name="_ValidationScriptsPartial" />

<form asp-action="Register" method="post">
     <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

   @*  <div class="form-group">
        <label asp-for="SelectedRole"></label>
        <select asp-for="SelectedRole" asp-items="Model.Roles" class="form-control">
            <option value="">-- Select Role --</option>
        </select>
        <span asp-validation-for="SelectedRole" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label>Select Roles</label>
        @for (int i = 0; i < Model.Roles.Count; i++)
        {
            <div class="form-check mb-2">
                <input type="hidden" asp-for="Roles[i].id" />
                <input type="hidden" asp-for="Roles[i].Name" />

                <input class="form-check-input"
                       type="checkbox"
                       asp-for="Roles[i].IsSelected"
                       id="role-@i" />

                <label class="form-check-label" for="role-@i">
                    @Model.Roles[i].Name
                </label>
            </div>
        }
        @* @for (int i = 0; i < Model.Roles.Count; i++)
        {
        
        <input type="checkbox" value="@Model.Roles[i].id" id="@Model.Roles[i].id" /> @Model.Roles[i].Name <br />
        @Html.HiddenFor(m => Model.Roles[i].id);
        @Html.HiddenFor(m => Model.Roles[@i].Name);
        @Html.HiddenFor(m => Model.Roles[i].IsSelected);
       
        } *@
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
